#root {
  max-width: 1300px;
  margin: 0 auto;
  padding: 2rem;
  padding-right: -2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

@media screen and (min-width: 769px) and (max-width: 1280px) {
  #root {
    padding: 1, 5rem;
    max-width: 900px;
    margin: 0 auto;
  }

  .card {
    padding: 1, 5em;
  }
}

/* Estilos para pantallas medianas */
@media screen and (min-width: 481px) and (max-width: 768px) {
  #root {
    padding: 1rem;

    margin: 0 auto;
  }

  .card {
    padding: 1em;
  }
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 480px) {
  #root {
    padding: 0.5rem;
    margin: 10px 50px;
  }

  .card {
    padding: 0.5em;
  }
}
