#root {
  max-width: 1280px;
  margin: auto;
  margin-top: -5px;
  padding: 2rem;
  padding-right: -2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

@media screen and (min-width: 769px) and (max-width: 1241px) {
  #root {
    margin-top: 0;
    padding: 1, 5rem;
  }

  .card {
    padding: 1, 5em;
  }
}

/* Estilos para pantallas medianas */
@media screen and (max-width: 768px) {
  #root {
    margin-top: 10px;
    padding: 1rem;
  }

  .card {
    padding: 1em;
  }
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 480px) {
  #root {
    margin-top: 10px;
    padding: 0.5rem;
  }

  .card {
    padding: 0.5em;
  }
}
