.principalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(-145px + 100vh);
}
.detailContainer {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  min-width: 300px;
  width: 80%;
  max-width: 900px;
  height: fit-content;
  padding-bottom: 20px;
  flex-direction: column;
  border: #333 solid 3px;
  border-radius: 30px;
  background-color: rgba(48, 194, 217, 0.718);
  transition: all 0.5s ease; /* Agregado para suavizar la transición del efecto hover */
}

.detailContainer:hover {
  transform: scale(1.05); /* Aumenta el tamaño del contenedor */
  background-color: rgba(
    0,
    248,
    62,
    0.405
  ); /* Cambia el color de fondo al pasar el cursor */
}

.detailContainer h5 {
  margin: 0.5em;
}

.titleDetail {
  background-color: rgba(48, 194, 217, 0.071);
  color: #eee;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.bannerFlag {
  display: flex;
  align-items: center;
}

.bannerFlag h2 {
  font-size: 2rem;
  color: #eee;
  margin-left: auto;
  margin-right: auto;
}

.image {
  border-radius: 30px;
  margin-right: 10px;
  margin-left: 10px;
  height: 130px;
}

.contentDetail {
  border-bottom: #ddd;
  color: #000000;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-style: oblique;
  font-size: large;
  font-weight: bolder;
}

.contentDetail div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 95%;
  font-size: 1.1rem;
  margin-top: 20px;
  border-bottom: #ddd ridge 2px;
}

.contentDetail div h4 {
  margin-top: 0px;
  font-style: normal;
}

@media (max-width: 850px) {
  .bannerFlag h2 {
    font-size: 1.5rem;
  }
}

@media (max-width: 690px) {
  .bannerFlag {
    flex-direction: column;
  }
  .contentDetail {
    margin-left: 25px;
  }
}
