.principalContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(-145px + 100vh);
}
.detailContainer {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: -15px;
  margin-right: auto;
  display: flex;
  min-width: 300px;
  width: 105%;
  max-width: 1000px;
  height: fit-content;
  padding-bottom: 20px;
  flex-direction: column;
  border: #333 solid 3px;
  border-radius: 10px;
  background-image: url("C:\Users\USUARIO\Desktop\cr-pi-countries-main\cr-pi-countries-main\client\src\assets\61RSQAifN0L._AC_UF894,1000_QL80_.jpg");
  background-size: cover;
  transition: all 1s ease; /* Agregado para suavizar la transición del efecto hover */
  box-shadow: 0px 4px 30px 0px rgb(0, 0, 0);
}

.detailContainer:hover {
  transform: scale(1.05); /* Aumenta el tamaño del contenedor */
  background-image: url("C:\Users\USUARIO\Desktop\cr-pi-countries-main\cr-pi-countries-main\client\src\assets\61jt6czhTrL._AC_UF894,1000_QL80_.jpg");
  background-size: cover;
  box-shadow: 0px 4px 30px 0px rgb(255, 255, 255);
}

.detailContainer h5 {
  margin: 0.5em;
}

.titleDetail {
  background-color: rgba(48, 194, 217, 0.071);
  color: #ffffff;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}

.bannerFlag {
  display: flex;
  align-items: center;
}

.bannerFlag h2 {
  font-size: 2rem;
  color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}

.image {
  border-radius: 20px;
  margin-right: 10px;
  margin-left: 10px;
  height: 130px;
}
.image:hover {
  border-radius: 10px;
  transform: scale(1.1);
  transition: transform 0.3s ease-in-out;
}

.contentDetail {
  border-bottom: #ddd;
  color: hsl(0, 0%, 100%);
  font-size: larger;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: lighter;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 50px;
  font-style: oblique;
}

.contentDetail div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 95%;
  font-size: 1.1rem;
  margin-top: 20px;
  border-bottom: #ddd ridge 2px;
}

.contentDetail div h4 {
  margin-top: 0px;
  font-style: normal;
}
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .detailContainer {
    min-width: 500px;
    margin-left: 30px;
    width: 80%;
  }
}

/* Estilos para pantallas medianas */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .detailContainer {
    min-width: 300px;
    width: 90%;
    margin: auto;
  }
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 480px) {
  .detailContainer {
    min-width: 200px;
    width: 70%;
    margin: auto;
  }
  .image {
    height: 20%;
    width: 40%;
  }
}
