footer {
  background-color: rgba(0, 255, 255, 0.279);
  color: #101010;
  margin-top: 1 rem;
  padding: 10px;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: auto;
  margin-left: auto;
  border-top: 1px solid #dee2e6;
  width: calc(100% - 30px);
}

.container {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%;
}
