.principalContainer {
  margin-top: 1px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  margin-left: 250px;
  padding: 15px;
  padding-top: 5px;
  padding-bottom: 0px;
  margin-bottom: 5px;
}

.pageSelector {
  margin-right: 0px;
  margin-left: -200px;
  margin-bottom: 14px;
  border-radius: 5px;
  background-color: #333b;
  border: #0d0d0d solid 3px;
  width: 1250px;
}

.btnPage {
  background-color: rgba(12, 12, 12, 0.711);
  border: rgb(51, 51, 51) solid 3px;
  width: 35px;
  color: #eee;
  font-size: smaller;
  font-weight: bold;
  text-align: center;
  margin: 3px;
  margin-left: 2px;
}

.btnPage:hover {
  background-color: rgba(255, 255, 255, 0.933);
  border: #000000 outset 3px;
  border-radius: 10px;
  color: #0d0d0d;
}

.btnPage:active {
  background-color: #777;
  border: #aaa inset 3px;
  border-radius: 3px;
}

.btnPageSelected {
  background-color: #333;
  color: #eee;
  border: #aaa solid 3px;
  border-radius: 10px;
}
.btnPage1 {
  background-color: #aaa0;
  border: #3330 solid 3px;
  width: 80px;
  color: #eee;
  font-size: smaller;
  margin: 5px;
  text-align: center;
}

.btnPage1:hover {
  background-color: #222e;
  border: #333 outset 3px;
  border-radius: 10px;
}

.btnPage1:active {
  background-color: #777;
  border: #aaa inset 3px;
  border-radius: 3px;
}

.btnPage2 {
  background-color: #aaa0;
  border: #3330 solid 3px;
  width: 80px;
  color: #eee;
  font-size: smaller;
  text-align: center;
  margin: 10px;
}

.btnPage2:hover {
  background-color: #222e;
  border: #333 outset 3px;
  border-radius: 10px;
}

.btnPage2:active {
  background-color: #777;
  border: #aaa inset 3px;
  border-radius: 3px;
}
/* Estilos para pantallas grandes */
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .principalContainer {
    margin-left: 100px;
  }

  .pageSelector {
    margin-top: 80px;
    margin-left: -50px;
    width: 600px;
  }

  .btnPage {
    width: 10%;
    margin: 5px;
    margin-left: 5px;
    font-size: auto;
    text-align: center;
  }
  .btnPage2 {
    width: 15%;
    margin: 5px;
    margin-left: 5px;
    font-size: auto;
    text-align: center;
  }
  .btnPage1 {
    width: 20%;
    margin: 5px;
    margin-left: -5px;
    font-size: auto;
    text-align: center;
  }
}

/* Estilos para pantallas medianas */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .principalContainer {
    margin-left: 250px;
  }

  .pageSelector {
    margin-top: 50px;
    margin-left: -200px;
    width: 600px;
  }

  .btnPage {
    width: 10%;
    margin: 5px;
    margin-left: 5px;
    font-size: auto;
    text-align: center;
  }
  .btnPage2 {
    width: 15%;
    margin: 5px;
    margin-left: 5px;
    font-size: auto;
    text-align: center;
  }
  .btnPage1 {
    width: 20%;
    margin: 5px;
    margin-left: -5px;
    font-size: auto;
    text-align: center;
  }
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 480px) {
  .principalContainer {
    margin-left: 100px;
  }

  .pageSelector {
    margin-top: 30px;
    margin-left: 10px;
    width: 400px;
    height: 180px;
  }

  .btnPage {
    width: 10%;
    margin: 5px;
    margin-left: 5px;
    font-size: auto;
    text-align: center;
  }
  .btnPage2 {
    width: 30%;
    margin: 5px;
    margin-left: 5px;
    font-size: auto;
    text-align: center;
  }
  .btnPage1 {
    width: 25%;
    margin: 5px;
    margin-left: -4px;
    font-size: auto;
    text-align: center;
  }
}
