body {
  margin-top: 10px;
  display: flex;
  background-image: url("C:\Users\USUARIO\Desktop\cr-pi-countries-main\cr-pi-countries-main\client\src\assets\Ciudades2.jpg");
  background-size: 110%;
  background-repeat: repeat;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Estilos para pantallas medianas */
@media screen and (max-width: 768px) {
  body {
    margin-top: 10px;
    display: flex;
    background-image: url("C:\Users\USUARIO\Desktop\cr-pi-countries-main\cr-pi-countries-main\client\src\assets\Ciudades2.jpg");
    background-size: cover;
    background-repeat: repeat;
  }

  h1 {
    font-size: 2.5em;
  }

  button {
    padding: 0.5em 1em;
    font-size: 0.9em;
  }
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 480px) {
  body {
    margin-top: 10px;
    display: flex;
    background-image: url("C:\Users\USUARIO\Desktop\cr-pi-countries-main\cr-pi-countries-main\client\src\assets\Ciudades2.jpg");
    background-size: cover;
    background-repeat: repeat;
  }

  h1 {
    font-size: 2em;
  }

  button {
    padding: 0.4em 0.8em;
    font-size: 0.8em;
  }
}
