.container {
  display: flex;
  flex-direction: column;
  align-content: center;
}

.imageContainer {
  position: relative;
  margin: auto;
  height: 480px;
  margin-bottom: 100px;
}

.img2 {
  position: absolute;
  top: 150px;
  left: -140px;
  z-index: 1;
  max-height: 300px;
  animation: rotate 4s ease-in-out;
}

.buttonInicio {
  color: #010101;
  background-color: #f9f9f9;
  font-weight: bold;
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 200px;
  margin-top: -20px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.buttonInicio:hover {
  background-color: #040404;
  color: white;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
  animation: vibrate 0.3s linear infinite;
}
@keyframes vibrate {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(-3px, 3px);
  }
  40% {
    transform: translate(3px, -3px);
  }
  60% {
    transform: translate(-3px, -3px);
  }
  80% {
    transform: translate(3px, 3px);
  }
  100% {
    transform: translate(0);
  }
}
/* Estilos para pantallas grandes */

@media screen and (max-width: 769px) and (max-width: 1280px) {
  .imageContainer {
    height: 360px;
  }

  .img2 {
    max-height: 200px;
  }

  .buttonInicio {
    width: 150px;
  }
}

/* Estilos para pantallas medianas */
@media screen and (max-width: 481px) and (max-width: 768px) {
  .imageContainer {
    height: 360px;
  }

  .img2 {
    max-height: 200px;
  }

  .buttonInicio {
    width: 150px;
  }
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 480px) {
  .imageContainer {
    height: 240px;
  }

  .img2 {
    max-height: 150px;
    margin-left: 50px;
  }

  .buttonInicio {
    width: 100px;
    margin-left: 0px;
  }
}
