.container {
  display: flex;
  flex-direction: column;
  align-content: center;
  min-height: calc(100vh - 42px);
}

.imageContainer {
  position: relative;
  margin: auto;
  height: 480px;
  margin-bottom: 100px;
}

.img2 {
  position: absolute;
  top: 95px;
  left: -140px;
  z-index: 1;
  max-height: 300px;
  animation: rotate 4s ease-in-out;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(25deg);
  }
  75% {
    transform: rotate(-10deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

.buttonInicio {
  color: #fff;
  background-color: #333;
  border: none;
  border-radius: 20px;
  padding: 10px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}

.buttonInicio:hover {
  background-color: #444;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.4);
}
