.headerContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #6aeeff;
  margin-top: 50px;
  margin-bottom: -20px;
  padding: 2px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  border-bottom: 1px solid #dee2e6;
  text-shadow: 2px 2px 4px #000000;
}
.headerContainer h1 {
  padding: 1px;
  margin: 10px;
}
.navBar {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 3px;
  margin-top: 10px;
}

.delete {
  width: -100px;
  margin-top: -470px;
  margin-left: 1070px;
}
.divDeleteSelector {
  background-color: rgba(255, 255, 255, 0.352);
  color: rgb(0, 0, 0);
  border-radius: 5px;
  border: black solid 3px;
  height: 40px;
  width: 175px;
  margin-left: 5px;
  margin-top: 10px;
  box-shadow: 0px 4px 20px 0px rgb(4, 4, 4);
}
.divDeleteButton {
  margin-left: 5px;
  border-radius: 20px;
  width: 178px;
  height: 45px;
}

.deleteButton {
  background-color: rgba(218, 204, 204, 0.247);
  color: rgb(0, 0, 0);
  font-weight: bolder;
  border-radius: 10px;
  width: 175px;
  height: 45px;
  box-shadow: 0px 4px 20px 0px rgb(4, 4, 4);
}
.deleteButton:hover {
  color: rgb(255, 254, 254);
  background-color: #0303035c;
  filter: brightness(110%);
  box-shadow: 0px 4px 20px 0px rgb(238, 233, 233);
  transform: scale(1.2);
}

.menuContainer {
  float: left;
  width: 200px;
  margin-left: 10px;
}

.menuOrder1 {
  margin-bottom: 5px;
  margin-top: 3px;
  border: #565656 solid 3px;
  background-color: rgba(0, 0, 0, 0.241);
  border-radius: 10px;
  height: 60px;
  width: 200px;
  box-shadow: 0px 4px 20px 0px rgb(4, 4, 4);
}

.menuOrder1:hover {
  background-color: rgba(252, 246, 246, 0.671);
  border-color: #999;
  box-shadow: 0px 4px 20px 0px rgb(238, 233, 233);
  color: black;
  transform: scale(1.1);
}
.menuFilter {
  margin-bottom: 10px;
  margin-top: 5px;
  border: #0b0b0b solid 3px;
  background-color: rgba(0, 0, 0, 0.227);
  border-radius: 10px;
  height: 220px;
  box-shadow: 0px 4px 20px 0px rgb(4, 4, 4);
}

.menuFilter:hover {
  background-color: rgba(252, 246, 246, 0.326);
  border-color: #999;
  box-shadow: 0px 4px 20px 0px rgba(238, 233, 233, 0.268);
  color: black;
}

.menuFilter button {
  background-color: #333;
  color: #eee;
  border: #999 solid 3px;
  border-radius: 13px;
  margin-top: 10px;
  padding: 8px;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
}

.menuFilter select {
  background-color: #333;
  color: #eee;
  border: #999 solid 3px;
  border-radius: 13px;
  margin-top: 10px;
  padding: 3px;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
  max-width: 150px;
}

.menuFilter button:hover {
  border: #bbb outset 3px;
  color: #fff;
  background-color: #222;
  filter: brightness(110%);
}

.menuFilter button:active {
  border: #bbb inset 3px;
  background-color: #444;
  filter: brightness(90%);
}

.menuTitle {
  padding: 1px;
  background-color: #000000;
  color: #fff;
}

.goToHome {
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  margin-right: 10px;
  border-radius: 5px;
  border: #dee2e6 solid 3px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
  text-align: center;
}
.goToHome:hover {
  background-color: #444;
  filter: brightness(110%);
  transform: scale(1.3);
}

.goToHome:active {
  background-color: #444;
  filter: brightness(90%);
}

.goToActivities {
  background-color: #00000096;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  margin-right: 20px;
  border-radius: 5px;
  border: #dee2e6 solid 3px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
  text-align: center;
}

.goToActivities:hover {
  background-color: #444;
  filter: brightness(110%);
  transform: scale(1.3);
}

.goToActivities:active {
  background-color: #444;
  filter: brightness(90%);
}

.goToLanding {
  background-color: #00000096;
  text-decoration: none;
  color: #fff;
  font-weight: 400;
  margin-left: 200px;
  border-radius: 5px;
  border: #dee2e6 solid 3px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
  text-align: center;
}

.goToLanding:hover {
  background-color: #444;
  filter: brightness(110%);
  transform: scale(1.3);
}

.goToLanding:active {
  background-color: #444;
  filter: brightness(90%);
}
.findCountry {
  background-color: #333;
  color: #fff;
  font-weight: 400;
  margin-left: 10px;
  border-radius: 5px;
  border: #dee2e6 solid 3px;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
  user-select: none;
  touch-action: manipulation;
  text-align: center;
}
.findCountry:hover {
  background-color: #444;
  filter: brightness(110%);
}

.findCountry:active {
  background-color: #444;
  filter: brightness(90%);
}

/* Estilos para pantallas grandes */
@media screen and (min-width: 769px) and (max-width: 1280px) {
  .delete {
    margin-top: -550px;
    margin-left: 800px;
  }

  .divDeleteSelector {
    width: 200px;
    margin-left: -60px;
    margin-top: -150px;
  }

  .divDeleteButton {
    margin-left: -60px;
    width: 200px;
    height: 90px;
  }

  .deleteButton {
    width: 200px;
    height: 50px;
  }

  .menuContainer {
    width: 200px;
  }

  .menuOrder1 {
    height: 70px;
  }

  .menuFilter {
    height: 220px;
  }

  .menuFilter select {
    max-width: 180px;
  }

  .goToLanding {
    margin-left: 200px;
  }
}

/* Estilos para pantallas medianas */
@media screen and (min-width: 481px) and (max-width: 768px) {
  .delete {
    margin-top: -450px;
    margin-left: 710px;
  }

  .divDeleteSelector {
    width: 150px;
    margin-left: -145px;
  }

  .divDeleteButton {
    margin-left: -145px;
    width: 150px;
    height: 70px;
  }

  .deleteButton {
    width: 150px;
    height: 95%;
  }

  .menuContainer {
    width: 150px;
  }

  .menuOrder1 {
    height: 50px;
    width: 95%;
  }

  .menuFilter {
    height: 200px;
  }

  .menuFilter select {
    max-width: 120px;
  }

  .goToLanding {
    margin-left: 150px;
  }
}
/* Estilos para pantallas pequeñas */
@media screen and (max-width: 480px) {
  .delete {
    margin-top: -400px;
    margin-left: 710px;
  }

  .divDeleteSelector {
    width: 125px;
    margin-left: -350px;
  }

  .divDeleteButton {
    width: 125px;
    height: 40px;
    margin-left: -240px;
  }

  .deleteButton {
    width: 125px;
    height: 95%;
  }

  .menuContainer {
    width: 100px;
  }

  .menuOrder1 {
    height: 40px;
    width: 95%;
  }

  .menuFilter {
    height: 95%;
  }

  .menuFilter select {
    max-width: 100px;
  }

  .goToLanding {
    margin-left: 200px;
  }
}
