.cardsContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  width: 90%;
  min-height: 72.5vh;
}

.pageSelector {
  flex-grow: 1;
  margin-bottom: -3px;
}

/* Estilos para pantallas grandes */
@media screen and (min-width: 941px) and (max-width: 1280px) {
  .cardsContainer {
    width: 95%;
    margin-left: 20px;
  }
  .pageSelector {
    flex-grow: 1;
    margin-bottom: -3px;
  }
}
/* Estilos para pantallas grandes */
@media screen and (min-width: 814px) and (max-width: 940px) {
  .cardsContainer {
    width: 100%;
    margin-left: 40px;
  }
}
/* Estilos para pantallas grandes */
@media screen and (min-width: 769px) and (max-width: 813px) {
  .cardsContainer {
    width: 110%;
    margin-left: 40px;
  }
}
/* Estilos para pantallas medianas */
@media (min-width: 481px) and (max-width: 768px) {
  .cardsContainer {
    width: 100%;
    margin-left: -100px;
  }
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 480px) {
  .cardsContainer {
    width: 100%;
    margin-left: 30px;
  }
}
