.cardsContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  width: 90%;
  min-height: 71.5vh;
}

.pageSelector {
  flex-grow: 1;
  margin-bottom: -3px;
}
