.cardsContainer {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  align-items: flex-start;
  width: 90%;
  min-height: 70.8vh;
}

.pageSelector {
  flex-grow: 1;
  margin-bottom: -3px;
}
@media screen and (min-width: 769px) and (max-width: 1241px) {
  .cardsContainer {
    width: 95%;
  }
}
/* Estilos para pantallas medianas */
@media (min-width: 481px) and (max-width: 768px) {
  .cardsContainer {
    width: 85%;
  }
}

/* Estilos para pantallas pequeñas */
@media screen and (max-width: 480px) {
  .cardsContainer {
    width: 100%;
  }
}
